<%- include("../includes/header") %>
    <div class="container-fluid bg-danger">
        <div class="row justify-content-center align-items-center" style="min-height: 100vh;">
            <div class="col-11 col-md-8 col-lg-6">
                <div class="card bg-white border-0 shadow rounded p-3">
                    <img src="/images/token_invalid.svg" width="150px" class="d-block mx-auto">
                    <div class="card-body bg-white">
                        <h2 class="text-center my-2">
                            <strong>Lo sentimos, este link es invalido.</strong>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include("../includes/footer") %>
